.gitreview
rknn/rknn_api/examples/rknn_ssd_demo/baiguang-txt*
build
install
*.tfrecord
rknn/rknn_api/examples/rknn_centernet_demo/baiguang*

**/txt/
**/vis/

**/vis-v2/
**/vis-v3/
**/vis-v4/

**/txt-v2/
**/txt-v3/
**/txt-v4/